body {
  background-color: green;
  /* background: url(img/download.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#expenseList {
  margin-top: 20px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.expense-item button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#totalExpenses {
  margin-top: 20px;
  font-weight: bold;
}
